.main
	background: rgb(213, 225, 225)
	position: relative

.heading
	margin-top: 71px
	color: rgb(37, 37, 37)
	font-size: 16px
	font-weight: 400
	line-height: 21.6px
	letter-spacing: -0.16px
	text-align: left
	text-transform: uppercase

.main_block
	min-height: 630px
	margin-top: 60px
	.main_logo
		display: flex
		justify-content: center
		align-items: center

.main_image
	position: absolute
	width: 100%
	left: 50%
	transform: translateX(-50%)
	top: 541px
	background: rgb(213, 225, 225)
